 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey there! Things seem impossible until it's done and I love to prove it all the time. I'm a passionate developer,freelancer who works on apps, websites and many other cool stuff.</p>
                </div>
                <div class="col-lg-4">
                    <p><h5>Skills</h5>
                    <ul>
                        <li>Android</li>
                        <li>HTML,CSS,JS</li>
                        <li>MEAN(MongoDB,Express,Nodejs,Angular JS)</li>
                        <li>Programming : C,C++,Java,Python
                        <li>Databases : SQL,Mongo</li>
                        <li>Machine Learning</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>